<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Toolgankelijk,toegankelijkheid,Vervoerregio,Amsterdam,checklist">
    <meta name="author" content="Tom Poortman">
    <meta name="description"
        content="Het toolboard met checklist voor de toegankelijkheidstool van Vervoerregio Amsterdam">
    
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/toolboard.css">
    <link rel="stylesheet" href="styles/contact.css">

    <script defer src="/scripts/light-dark-mode.js"></script>
    <script defer src="/scripts/menu.js"></script>
    <script defer src="/scripts/principe-progress.js"></script>
    <script defer src="/scripts/secondaire-knoppen.js"></script>

    <title>Toolgankelijk - Toolboard</title>
</head>

<body id="page-top">