<header>
    <section id="navigation">

        <a href="/">
            <img id="vra-logo" src="/images/svg/vervoerregio_amsterdam_logo.svg" alt="vervoerregio amsterdam logo"
                width="352" height="105.9">
        </a>

        <button id="hamburger-icon" aria-expanded="false">
            <svg viewBox="0 0 100 100" width="50" fill="var(--c-tekst)">
                <rect class="line top" width="80" height="6" x="10" y="25" rx="3"></rect>
                <rect class="line middle" width="80" height="6" x="10" y="45" rx="3"></rect>
                <rect class="line bottom" width="80" height="6" x="10" y="65" rx="3"></rect>
            </svg>
        </button>

        <nav id="site-nav">
            <section id="inhoud">
                <h2 class="mobiel-zichtbaar">Inhoud</h2>
                <ul>
                    <li><a <% if(active=="/" ) {%> class="active"<%}%> href="/">
                                <svg class="mobiel-zichtbaar" width="19" height="19" viewBox="0 0 19 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M2.375 19C1.72187 19 1.16296 18.7876 0.69825 18.3627C0.23275 17.9371 0 17.4257 0 16.8286V7.05714C0 6.71333 0.0843123 6.38762 0.252937 6.08C0.420771 5.77238 0.653125 5.51905 0.95 5.32L8.075 0.434286C8.29271 0.289524 8.52031 0.180952 8.75781 0.108571C8.99531 0.0361904 9.24271 0 9.5 0C9.75729 0 10.0047 0.0361904 10.2422 0.108571C10.4797 0.180952 10.7073 0.289524 10.925 0.434286L18.05 5.32C18.3469 5.51905 18.5796 5.77238 18.7483 6.08C18.9161 6.38762 19 6.71333 19 7.05714V16.8286C19 17.4257 18.7676 17.9371 18.3029 18.3627C17.8374 18.7876 17.2781 19 16.625 19H11.875V11.4H7.125V19H2.375Z"
                                        fill="#6E6E73" />
                                </svg>
                                Home</a></li>
                    <li><a <% if(active=="/toolboard" ) {%> class="active"<%}%> href="/toolboard">
                                <svg class="mobiel-zichtbaar" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.39644 0.501987C5.62391 0.0103543 6.9655 -0.12367 8.26597 0.115423C9.56644 0.354516 10.7726 0.956953 11.745 1.85302C12.7173 2.74909 13.4161 3.90217 13.7603 5.17883C14.1046 6.45548 14.0804 7.80353 13.6904 9.06699L18.0844 12.785C18.4802 13.1213 18.8021 13.5361 19.0296 14.003C19.2572 14.4699 19.3855 14.9789 19.4065 15.4979C19.4276 16.0169 19.3408 16.5346 19.1518 17.0184C18.9628 17.5022 18.6756 17.9416 18.3083 18.3089C17.9411 18.6762 17.5017 18.9634 17.0179 19.1524C16.5341 19.3414 16.0163 19.4281 15.4973 19.4071C14.9784 19.386 14.4694 19.2577 14.0024 19.0302C13.5355 18.8026 13.1208 18.4808 12.7844 18.085L9.06744 13.691C7.80388 14.0811 6.45567 14.1054 5.17888 13.761C3.90208 13.4167 2.74889 12.7179 1.85277 11.7454C0.956652 10.7729 0.354248 9.56651 0.115278 8.26587C-0.123692 6.96523 0.010542 5.62351 0.502444 4.39599C0.860444 3.50199 1.98244 3.38899 2.56544 4.02299L5.76844 7.50099L7.21444 7.21299L7.50444 5.76399L4.02444 2.56599C3.39044 1.98299 3.50244 0.859987 4.39744 0.501987H4.39644ZM6.40344 2.03799L9.16644 4.57799C9.48844 4.87399 9.63244 5.31599 9.54644 5.74299L9.07644 8.09699C9.02802 8.33924 8.9089 8.56172 8.73412 8.73632C8.55935 8.91092 8.33675 9.02981 8.09444 9.07799L5.74444 9.54499C5.53412 9.58681 5.31658 9.57382 5.11273 9.50727C4.90888 9.44072 4.72558 9.32285 4.58044 9.16499L2.03644 6.40299C1.93289 7.26313 2.05452 8.13542 2.38942 8.93443C2.72432 9.73344 3.261 10.4318 3.94691 10.961C4.63281 11.4903 5.44442 11.8323 6.30225 11.9536C7.16007 12.0749 8.03469 11.9713 8.84044 11.653C9.08482 11.556 9.35345 11.5381 9.60854 11.6018C9.86362 11.6655 10.0923 11.8075 10.2624 12.008L14.3124 16.794C14.4695 16.9804 14.6636 17.1321 14.8824 17.2396C15.1011 17.347 15.3399 17.4079 15.5834 17.4182C15.8269 17.4286 16.0699 17.3883 16.297 17.2998C16.5242 17.2113 16.7304 17.0767 16.9028 16.9043C17.0751 16.732 17.2098 16.5257 17.2983 16.2986C17.3867 16.0715 17.4271 15.8284 17.4167 15.5849C17.4063 15.3414 17.3455 15.1027 17.238 14.8839C17.1306 14.6651 16.9788 14.4711 16.7924 14.314L12.0074 10.264C11.807 10.0939 11.6649 9.86517 11.6012 9.61008C11.5376 9.355 11.5555 9.08636 11.6524 8.84199C11.9711 8.03623 12.0749 7.16152 11.9537 6.30357C11.8326 5.44561 11.4905 4.63386 10.9612 3.94787C10.4319 3.26187 9.73345 2.72517 8.93428 2.39037C8.13511 2.05556 7.26266 1.93413 6.40244 2.03799H6.40344Z"
                                        fill="#6E6E73" />
                                </svg>
                                Het Toolboard</a></li>
                    <li><a <% if(active=="/projects" ) {%> class="active"<%}%> href="/projects">
                                <svg class="mobiel-zichtbaar" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.39644 0.501987C5.62391 0.0103543 6.9655 -0.12367 8.26597 0.115423C9.56644 0.354516 10.7726 0.956953 11.745 1.85302C12.7173 2.74909 13.4161 3.90217 13.7603 5.17883C14.1046 6.45548 14.0804 7.80353 13.6904 9.06699L18.0844 12.785C18.4802 13.1213 18.8021 13.5361 19.0296 14.003C19.2572 14.4699 19.3855 14.9789 19.4065 15.4979C19.4276 16.0169 19.3408 16.5346 19.1518 17.0184C18.9628 17.5022 18.6756 17.9416 18.3083 18.3089C17.9411 18.6762 17.5017 18.9634 17.0179 19.1524C16.5341 19.3414 16.0163 19.4281 15.4973 19.4071C14.9784 19.386 14.4694 19.2577 14.0024 19.0302C13.5355 18.8026 13.1208 18.4808 12.7844 18.085L9.06744 13.691C7.80388 14.0811 6.45567 14.1054 5.17888 13.761C3.90208 13.4167 2.74889 12.7179 1.85277 11.7454C0.956652 10.7729 0.354248 9.56651 0.115278 8.26587C-0.123692 6.96523 0.010542 5.62351 0.502444 4.39599C0.860444 3.50199 1.98244 3.38899 2.56544 4.02299L5.76844 7.50099L7.21444 7.21299L7.50444 5.76399L4.02444 2.56599C3.39044 1.98299 3.50244 0.859987 4.39744 0.501987H4.39644ZM6.40344 2.03799L9.16644 4.57799C9.48844 4.87399 9.63244 5.31599 9.54644 5.74299L9.07644 8.09699C9.02802 8.33924 8.9089 8.56172 8.73412 8.73632C8.55935 8.91092 8.33675 9.02981 8.09444 9.07799L5.74444 9.54499C5.53412 9.58681 5.31658 9.57382 5.11273 9.50727C4.90888 9.44072 4.72558 9.32285 4.58044 9.16499L2.03644 6.40299C1.93289 7.26313 2.05452 8.13542 2.38942 8.93443C2.72432 9.73344 3.261 10.4318 3.94691 10.961C4.63281 11.4903 5.44442 11.8323 6.30225 11.9536C7.16007 12.0749 8.03469 11.9713 8.84044 11.653C9.08482 11.556 9.35345 11.5381 9.60854 11.6018C9.86362 11.6655 10.0923 11.8075 10.2624 12.008L14.3124 16.794C14.4695 16.9804 14.6636 17.1321 14.8824 17.2396C15.1011 17.347 15.3399 17.4079 15.5834 17.4182C15.8269 17.4286 16.0699 17.3883 16.297 17.2998C16.5242 17.2113 16.7304 17.0767 16.9028 16.9043C17.0751 16.732 17.2098 16.5257 17.2983 16.2986C17.3867 16.0715 17.4271 15.8284 17.4167 15.5849C17.4063 15.3414 17.3455 15.1027 17.238 14.8839C17.1306 14.6651 16.9788 14.4711 16.7924 14.314L12.0074 10.264C11.807 10.0939 11.6649 9.86517 11.6012 9.61008C11.5376 9.355 11.5555 9.08636 11.6524 8.84199C11.9711 8.03623 12.0749 7.16152 11.9537 6.30357C11.8326 5.44561 11.4905 4.63386 10.9612 3.94787C10.4319 3.26187 9.73345 2.72517 8.93428 2.39037C8.13511 2.05556 7.26266 1.93413 6.40244 2.03799H6.40344Z"
                                        fill="#6E6E73" />
                                </svg>
                                Projects</a></li>
                    <li><a <% if(active=="/contact" ) {%> class="active"<%}%> href="/contact">
                                <svg class="mobiel-zichtbaar" width="23" height="19" viewBox="0 0 23 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.1 18C2.5225 18 2.0283 17.7921 1.6174 17.3763C1.2058 16.9598 1 16.4594 1 15.875V3.125C1 2.54062 1.2058 2.04054 1.6174 1.62475C2.0283 1.20825 2.5225 1 3.1 1H19.9C20.4775 1 20.972 1.20825 21.3836 1.62475C21.7945 2.04054 22 2.54062 22 3.125V15.875C22 16.4594 21.7945 16.9598 21.3836 17.3763C20.972 17.7921 20.4775 18 19.9 18H3.1ZM19.9 5.25L12.0512 10.2172C11.9637 10.2703 11.8717 10.31 11.7751 10.3362C11.6792 10.3631 11.5875 10.3766 11.5 10.3766C11.4125 10.3766 11.3208 10.3631 11.2249 10.3362C11.1283 10.31 11.0363 10.2703 10.9487 10.2172L3.1 5.25V15.875H19.9V5.25ZM11.5 8.4375L19.9 3.125H3.1L11.5 8.4375ZM3.1 5.25V5.51562V3.94844V3.975V3.125V3.975V3.96119V5.51562V5.25V15.875V5.25Z"
                                        fill="#6E6E73" />
                                    <path
                                        d="M3.1 5.25V5.51562V3.94844V3.975V3.125V3.975V3.96119V5.51562V5.25ZM3.1 5.25V15.875V5.25ZM3.1 18C2.5225 18 2.0283 17.7921 1.6174 17.3763C1.2058 16.9598 1 16.4594 1 15.875V3.125C1 2.54062 1.2058 2.04054 1.6174 1.62475C2.0283 1.20825 2.5225 1 3.1 1H19.9C20.4775 1 20.972 1.20825 21.3836 1.62475C21.7945 2.04054 22 2.54062 22 3.125V15.875C22 16.4594 21.7945 16.9598 21.3836 17.3763C20.972 17.7921 20.4775 18 19.9 18H3.1ZM19.9 5.25L12.0512 10.2172C11.9637 10.2703 11.8717 10.31 11.7751 10.3362C11.6792 10.3631 11.5875 10.3766 11.5 10.3766C11.4125 10.3766 11.3208 10.3631 11.2249 10.3362C11.1283 10.31 11.0362 10.2703 10.9487 10.2172L3.1 5.25V15.875H19.9V5.25ZM11.5 8.4375L19.9 3.125H3.1L11.5 8.4375Z"
                                        stroke="#6E6E73" stroke-width="0.5" />
                                </svg>
                                Contact</a></li>
                </ul>
            </section>

            <section id="aanpasbaar">
                <h2 class="mobiel-zichtbaar">Aanpasbaar</h2>
                <ul>
                    <li>
                        <label id="thema">
                            Thema
                            <label id="mode" class="switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="slider round"></div>
                            </label>
                        </label>
                    </li>
                </ul>
            </section>
        </nav>
    </section>


</header>