<section class="secondaire-knoppen">
    <a href="#" aria-label="back to top">
        <section id="top-button">
            <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M7.9999 16C7.71657 16 7.47924 15.904 7.2879 15.712C7.0959 15.5207 6.9999 15.2834 6.9999 15V3.82505L2.1249 8.70005C1.9249 8.90005 1.68724 9.00005 1.4119 9.00005C1.13724 9.00005 0.899902 8.90005 0.699902 8.70005C0.499902 8.50005 0.399902 8.26672 0.399902 8.00005C0.399902 7.73338 0.499902 7.50005 0.699902 7.30005L7.2999 0.700048C7.3999 0.600048 7.50824 0.529049 7.6249 0.487049C7.74157 0.445715 7.86657 0.425049 7.9999 0.425049C8.13324 0.425049 8.26257 0.445715 8.3879 0.487049C8.51257 0.529049 8.61657 0.600048 8.6999 0.700048L15.2999 7.30005C15.4999 7.50005 15.5999 7.73338 15.5999 8.00005C15.5999 8.26672 15.4999 8.50005 15.2999 8.70005C15.0999 8.90005 14.8622 9.00005 14.5869 9.00005C14.3122 9.00005 14.0749 8.90005 13.8749 8.70005L8.9999 3.82505V15C8.9999 15.2834 8.90424 15.5207 8.7129 15.712C8.5209 15.904 8.28324 16 7.9999 16Z"
                    fill="var(--c-achtergrond)" />
            </svg>
        </section>
    </a>
    <section id="share-button">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M15 14.08C14.24 14.08 13.56 14.38 13.04 14.85L5.91 10.7C5.96 10.47 6 10.24 6 10C6 9.76 5.96 9.53 5.91 9.3L12.96 5.19C13.5 5.69 14.21 6 15 6C16.66 6 18 4.66 18 3C18 1.34 16.66 0 15 0C13.34 0 12 1.34 12 3C12 3.24 12.04 3.47 12.09 3.7L5.04 7.81C4.5 7.31 3.79 7 3 7C1.34 7 0 8.34 0 10C0 11.66 1.34 13 3 13C3.79 13 4.5 12.69 5.04 12.19L12.16 16.35C12.11 16.56 12.08 16.78 12.08 17C12.08 18.61 13.39 19.92 15 19.92C16.61 19.92 17.92 18.61 17.92 17C17.92 15.39 16.61 14.08 15 14.08Z"
                fill="var(--c-achtergrond)" />
        </svg>
    </section>
</section>