<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<main id="home">
    <article id="welkom">
        <section id="introductie">
            <h1 id="slogan">
                Maak het nu <span class="accent-magenta">://Toolgankelijk.</span>
            </h1>
            <p id="inleiding">
                Samen met deze toegankelijkheids-tool maakt u eenvouding websites en apps toegankelijker, geleidt
                door
                de WCAG principes en richtlijnen.
            </p>
            <section class="knoppen">
                <a href="/toolboard" class="primair knop">Begin hier</a>
                <a href="#uitleg" class="secundair knop">lees meer</a>
            </section>
        </section>



        <img src="/images/svg/programming-together.svg" alt="" width="1029.91" height="674.31">
    </article>

    <h2 id="toelichting">
        Maak je website of app nu toegankelijk. <span class="accent-magenta">Maar waarom eigenlijk?</span>
    </h2>

    <section id="uitleg">
        <section class="item">
            <section class="tekstueel-deel">
                <h3><span class="accent-magenta">Vervoerregio Amsterdam. </span>HvA</h3>
                <p>
                    Wij hebben samen met studenten van de Hogeschool van Amsterdam een
                    checklist ontwikkeld waarin op eenvoudige wijze wordt uitgelegd wat hierbij komt kijken en welke
                    stappen u kunt nemen om uw website en app toegankelijk te maken.
                </p>
            </section>
            <img src="/images/svg/scrumboard.svg" alt="">
        </section>
        <section class="item" id="W3C">
            <section class="tekstueel-deel">
                <h3><span class="accent-magenta">W3C. </span>Richtlijnen</h3>
                <p>Om digitale toegankelijkheid te kunnen borgen heeft het W3C (World Wide Web Consortium) een set
                    richtlijnen voor toegankelijkheid van webcontent ontwikkeld.</p>
            </section>
            <img src="/images/svg/W3C-illustratie.svg" alt="" width="656" height="388.16">
        </section>

        <section class="item" id="WCAG">
            <section class="tekstueel-deel">
                <h3><span class="accent-magenta">WCAG. </span>Accessibility</h3>
                <p>Deze richtlijnen, beschreven in de Web Content Accessibility Guidelines (WCAG), leggen uit hoe
                    webcontent toegankelijk kan worden gemaakt voor een zo breed mogelijk publiek. </p>
            </section>
            <img src="/images/svg/WCAG-illustratie.svg" alt="" width="656" height="420.73">
        </section>

        <section class="item" id="beperking">
            <section class="tekstueel-deel">
                <h3><span class="accent-magenta">Maatschappelijk. </span>Oogpunt</h3>
                <p>
                    Toegankelijkheid gaat sociale ongelijkheid tegen. Dit heeft niet alleen een positief effect op
                    de tevredenheid van klanten en eigen
                    medewerkers, maar ook op de uitstraling naar de maatschappij.</p>
            </section>
            <img src="/images/svg/people.svg" alt="" width="656" height="415.86">
        </section>

        <section class="item" id="beperking">
            <section class="tekstueel-deel">
                <h3><span class="accent-magenta">Beperking. </span>Ook tijdelijk</h3>
                <p>Bij toegankelijkheid denk je misschien aan permanent minder valide mensen. Maar voor iemand die
                    tijdens het sporten een arm breekt, is een toegankelijk web ook van belang.</p>
            </section>
            <img src="/images/svg/beperking-illustratie.svg" alt="" width="656" height="415.86">
        </section>

        <section class="item" id="weetje">
            <section class="tekstueel-deel">
                <h3><span class="accent-magenta">Wist je dat? </span>Echt waar</h3>
                <p>Deze WCAG-richtlijnen wettelijk verplicht zijn vanaf 2025? Voor
                    overheden is dit nu al verplicht.</p>
            </section>
            <img src="/images/svg/weetje-illustratie.svg" alt="" width="704" height="446.2">
        </section>

        <section class="item" id="toolgankelijk">
            <section class="tekstueel-deel">
                <h3><span class="accent-magenta">Toolgankelijk. </span>Makkie</h3>
                <p>Toolgankelijk is onderverdeeld in vier principes:</p>
                <ol>
                    <li>
                        Waarneembaar
                    </li>
                    <li>
                        Bedienbaar
                    </li>
                    <li>
                        Begrijpelijk
                    </li>
                    <li>
                        Robuust
                    </li>
                </ol>
                <p><br>
                    Hierin komen de richtlijnen vanzelf aan bod. En met behulp van onze tool werk je deze
                    gemakkelijk af, of kies je gewoon wat uit.</p>
            </section>
            <img src="/images/svg/toolgankelijk-illustratie.svg" alt="">
        </section>
    </section>
    <section class="knoppen">
        <a href="/toolboard" class="primair knop">Begin hier</a>
        <a href="/contact" class="secundair knop">Vragen?</a>
    </section>

    <%- include('./partials/secundairy-buttons.ejs') %>

</main>

<%- include('./partials/foot.ejs') %>
